/*=== google font link===*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

/*=== website color ===*/

:root{
      --blue:#5C7AEA;
      --black:#212121;
      --light-black:#9D9D9D;
      --container-bg:#fff;
}

:root{

      --Border-radious:.4rem;
      --para-font:.8rem;
      --font-Type: 'Montserrat', sans-serif;
}

/*=== selects all HTML elements and applied below mantion css ===*/


*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      border: none;
      overflow: hidden;
      font-family: 'Roboto Slab', serif;


}

   

body{
    width: 100vw;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.conatiner{
      
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgb(221, 220, 220);
      width: 50vw;
      height:80% !important;
      height: auto;

}

.top-container{
      height: 60%;
    }


 .input-section{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 100%;

    }


input[type=text] {
      width: 15rem;
      height: 2rem;
      border-bottom: 2px solid black;
      transition: border-bottom 0.9s ;
    }
    

    input[type=text]:focus {
      border: none;
      border-bottom: 2px solid var(--blue);
      outline: none;
    }



.btn{
      width: 100px;
      height: 2rem;
      background-color: var(--black);
      color: var(--container-bg);
      font-size: 1rem;
}
#city{
      text-transform: uppercase;
      transition: all .5s;
}


/* Button Animation  */ 


.btn {
      border-radius: var(--Border-radious);
      background-color:var(--black);
      border: none;
      color: #FFFFFF;
      text-align: center;
      width: 100px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
       
    .btn:hover{
      padding-left: 25px;
      background-color:var(--blue);
    }
    
    
    .weather-img{
         
          width: 80%;
          display: flex;
          justify-content: space-around;
    }

    /* middle section css */


    .middleSection{
          height: 50%;
          width: 100%;
          display: flex;
          justify-content: space-around;
    }

    .middleleft , .middleright{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           width: 40%;
           color: #fff;
          height: 100%;
          border-radius: 5px;
          box-shadow:  1px 5px 10px black;
          background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );;
    }

    .icon {
          width: 150px;
          height: 150px;
          animation-name: gow;
          animation-duration: 4s;
          transition: all 5s;
          animation-iteration-count: infinite;


    }

@keyframes gow {
   0%   {width: 150px;}
  25%  {width: 160px;}
  50%  {width: 165px;}
  100% {width: 170px;}
    }
  .min-temp{
        font-size: 1rem;
        font-style: normal;
        font-weight: normal;
  }



.weather-img >img {
      width: 100px;
      height:100px;
      border-radius: 50%;
      animation-name: example;
      animation-duration: 4s;
      animation-iteration-count:infinite;
      position: relative;
}
    
    @keyframes example {
      0%   {background-color:rgb(219, 154, 154); }
      25%  {background-color:rgb(219, 219, 132);  border-radius: 10px}
      50%  {background-color:rgb(152, 152, 204);  border-radius: 20px}
      75%  {background-color:rgb(154, 190, 154); border-radius: 20px}
      100% {background-color:rgb(192, 141, 141);}
    }

























.bottom-container{
width: 100%;
 display: flex;
 background-color: var(--black);
 height: 20%;
 justify-content: space-between;
 color: #fff;
 
}

.temp-details{
      display: flex;
      justify-content: space-around;
      align-items: center;     
      width: 60%;
      
}

.weather-date{
      background-color: var(--blue);
      width: 30%;
      align-items: center;
      display: flex;
      justify-content: center;
}



